{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'styles/index.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/checkbox.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/background.css' %}" />
		<title>To meet</title>
	</head>
	<body>
		<section>
			<div class="create_container">
				<form action="{% url 'add-tomeet' %}" method="POST">
					{% csrf_token %}
					<input
						type="text"
						class="create_input"
						placeholder="С кем вы хотите встретиться?"
						name="tomeet_text"
					/>
					<input
						type="text"
						class="create_input"
						placeholder="Когда вы хотите встретиться? (формат YYYY-MM-DD)"
						name="tomeet_date"
					/>
					<button class="create_button">Добавить</button>
				</form>
			</div>

			<div class="todo_container">
				{% for meet in tomeet_list %}
				<div class="todo_item">
					<div class="todo_item_header">
						<label class="checkbox_container">
							<input type="checkbox" />
							<span class="checkmark"></span>
						</label>
						<h4>{{ meet.persone }}</h4>
					</div>
					<div class="todo_item_footer">
						<p>{{ meet.date_of_meeting }}</p>
						<div class="action_buttons">
							<img src="{% static './icons/star2.png' %}" />
							<img src="{% static './icons/delete.png' %}" />
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	</body>
</html>
